<div class="container-fluid full-width">

  <div class="infinite-scrolling">
    <center> <%= will_paginate %></center>
  </div>

<div class="polozenie">
   <% @gists.each do |gist| %>
    <div class="show_gists">
      </br>
      <p>
        <strong>Snippet:</strong>
      </p>
      <%= gist.snippet %>
        </br></br>
        <p>
        <strong>Lang:</strong>
        </p>
        <%= gist.lang %>
        </br></br>
        <p>
        <strong>Description:</strong>
        </p>
        <%= gist.description %>
        </br>
      </br>
        <%= link_to 'Show', gist, :class=>"btn btn-sm btn-warning" %>
        
        <%= link_to 'Edit', edit_gist_path(gist), :class=>"btn btn-sm btn-primary" %>
        
        <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?'}, :class=>"btn btn-sm btn-warning" %>
      </br> </br>
      </div>
        </br>  </br>
      
    <% end %>
    </br></br>
  </div>
</div>
